01WorkflowQdrant_Zalo_DocNhieuFile.json
{
  "name": "01WorkflowQdrant_Zalo_DocNhieuFile",
  "nodes": [
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 1248,
        "width": 4189,
        "color": 5
      },
      "id": "b629a29e-f928-4e63-98dd-c3ddab53bfe7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        960
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID_!1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "id": "ce8cca85-33cd-41a1-8de9-79ec908ab30d",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        1424
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN",
          "mode": "list",
          "cachedResultName": "00.Tpdf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "e6bc7b10-b713-4411-abd2-75e14e6e2701",
      "name": "File Created1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        1408
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN",
          "mode": "list",
          "cachedResultName": "00.Tpdf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "f2f30c88-5b20-4cf9-b756-1f91577545fd",
      "name": "File Updated1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        1648
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 1756
      },
      "id": "7c4d4f1f-f7e7-4f25-8307-427946896982",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        288
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsQdrantv11mmmmmnhuan1234",
        "options": {}
      },
      "id": "72ac2b19-1fdd-45e9-b128-101d2dbbdcea",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        352
      ],
      "webhookId": "5e7bc971-122a-4d85-9bbd-34b5cf75104d"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "fa34d974-b887-45c3-ac71-abd0ad6c5fa7",
      "name": "Extract PDF Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2192,
        1152
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "dc2d94c4-4fc1-4bbe-990d-cd5162fc43a0",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2176,
        1456
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "3b76a8fe-a3cd-4bc0-9a7b-fd3c6442df92",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2400,
        1456
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d5d8bc1-7088-4b65-a833-301c3987bfbe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b3b66a9e-8aca-4f0d-9864-f2e03c7a27cd",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bb391e81-4667-4854-8033-e2771d1f69fb",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f5de71c8-289a-477b-ae62-f336e7286a0c",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a605d52b-093e-47ce-bed4-6c040b465b79",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "043262f3-55dc-40b0-af44-f2f67aae3aa9",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "291a9806-5b16-46b4-a253-4806491d92bc",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word 3"
            },
            {
              "renameOutput": true,
              "outputKey": "None"
            }
          ]
        },
        "options": {
          "fallbackOutput": 10
        }
      },
      "id": "fc7d1e97-6269-41c8-9cb1-953f4003fc2b",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1312,
        1344
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "2bc39d2a-383d-45e4-a944-70b9eb8474c4",
      "name": "Extract from Excel1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1776,
        1328
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1776,
        1504
      ],
      "id": "9cf31535-bf87-4740-921e-0946ff1c5c90",
      "name": "Extract from CSV1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        1424
      ],
      "id": "0d9d1f0b-17ba-45aa-b3a7-5706f278a50a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID_!1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2208,
        1920
      ],
      "id": "27371567-bbe8-4e67-b50c-afc836024d53",
      "name": "Delete File1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID_!1').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.title }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "33058d81-6735-4216-b925-2f16754fafd1",
      "name": "Convert to Google Doc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2032,
        1920
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21651ed3-cfa6-4ef8-940b-fb734b9e4fc5",
              "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        1440
      ],
      "id": "7fccc81a-6c14-45e4-9b2f-e36852b8a80b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "b8735aa6-4e47-4197-9f36-6559fa4d4420",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "933145c4-7c6e-449b-9025-a47ad88ac9e8",
      "name": "Set File ID_!1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        1440
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "RPDF",
          "mode": "list",
          "cachedResultName": "RPDF"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3264,
        1488
      ],
      "id": "cd63b311-e4b8-40c4-a446-6a9dba2b9293",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "rWae2xb1M0Iehw3P",
          "name": "QdrantApi account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3120,
        1824
      ],
      "id": "d2d84768-3381-4ac8-951c-3116319cf8a8",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 30
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3264,
        1920
      ],
      "id": "ac4695cc-84fb-4b5f-97e2-1dbc05ab2125",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Base on this info: {{ $json.combinedContext }}\nAnswer the query: {{ $json.originalQuery }}\n\nLưu ý: câu trả lời ngắn gọn dưới 1500 ký tự, và nếu câu chào hỏi bình thường thì bạn phải hồi lại xã giao bình thường (không liên quan đến tài liệu)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        352
      ],
      "id": "d7bc9042-edaf-4549-94c5-3c5ff5a280f9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        560
      ],
      "id": "7ba24d6f-1989-45c3-a4da-bbd0916526af",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "RPDF",
          "mode": "list",
          "cachedResultName": "RPDF"
        },
        "prompt": "= {{ $json.chatInput }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        592,
        352
      ],
      "id": "dac4fe87-4f5c-497b-9568-99ca53d07b6b",
      "name": "Qdrant Vector Store3",
      "notesInFlow": false,
      "credentials": {
        "qdrantApi": {
          "id": "rWae2xb1M0Iehw3P",
          "name": "QdrantApi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all Qdrant results into single item\nconst qdrantItems = $items(\"Qdrant Vector Store3\");\nconst chatInput = $('Chat-input1').first().json.chatInput;\n\n// Combine all page content\nconst combinedContext = qdrantItems\n  .map(item => item.json.document.pageContent)\n  .filter(content => content && content.trim() !== '')\n  .join('\\n\\n---\\n\\n');\n\n// Optional: Include metadata\nconst sources = qdrantItems.map((item, index) => ({\n  index: index + 1,\n  score: item.json.score || 0,\n  metadata: item.json.document.metadata || {}\n}));\n\n// Return single item for agent\nreturn [{\n  json: {\n    combinedContext,\n    originalQuery: chatInput,\n    contextCount: qdrantItems.length,\n    sources,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        352
      ],
      "id": "a7cd6b91-c387-4e4c-8cbe-d196ea289c17",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.body.message.text}}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json.body.message.from.id }}",
              "type": "string"
            },
            {
              "id": "bb23d301-0169-40a5-b1cd-bfa162469d7a",
              "name": "access_token_zalo",
              "value": "3682309957303154161:toHJdCNZuRLAbgzFAthLBcGJROrUYGJGdRwfGNwipSjhMXQMAXFxzKIearPkfHEE",
              "type": "string"
            },
            {
              "id": "ec50408b-6947-40fe-ae14-08baefa11ab6",
              "name": "chat_id_zalo",
              "value": "={{ $json.body.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cce5f561-2568-4990-9b3b-c43a6f03fda0",
      "name": "Chat-input1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        352
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "020072f7-5df7-439f-815b-64e703a85c17",
      "name": "Extract Document Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1792,
        1680
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID_!1').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID_!1').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "ed19b321-d00c-4c76-8de0-ee730f255bda",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3296,
        1744
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $json.access_token_zalo.trim() }}/setWebhook ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.Webhook_URL }}"
            },
            {
              "name": "secret_token",
              "value": "aa1233456"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        0
      ],
      "id": "c1da2369-2e99-4972-9333-fbea4dd9268e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801137d3-13bc-4dae-a74d-bfb1c4454f77",
              "name": "access_token_zalo",
              "value": "3682309957303154161:toHJdCNZuRLAbgzFAthLBcGJROrUYGJGdRwfGNwipSjhMXQMAXFxzKIearPkfHEE",
              "type": "string"
            },
            {
              "id": "851b57e5-fbbc-4793-9fe1-8b70c2dea794",
              "name": "Webhook_URL",
              "value": "https://vpsn8n.anhlaptrinh.vn/webhook/docsQdrantv11mmmmmnhuan1234",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c77f544e-634e-4b14-a271-fccb63013e9a",
      "name": "Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $('Chat-input1').first().json.access_token_zalo.trim() }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Chat-input1').first().json.chat_id_zalo.trim() }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        352
      ],
      "id": "71dd77ed-6af6-4d35-885d-a9cb5516281c",
      "name": "HTTP Request3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "679dc363-c735-4d3a-a819-b6fe46e4a7b5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat-input1').first().json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1328,
        576
      ],
      "id": "c261e35b-7d2f-4acb-9551-313d80d0fd46",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        560
      ],
      "id": "55d7ce23-012d-438b-af0b-9ebbe8847e58",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "npFYeWDWRwkqivvM",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "vpsn8n.anhlaptrinh.vn",
            "user-agent": "Java/1.8.0_192",
            "content-length": "306",
            "accept": "text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2",
            "content-type": "application/json",
            "x-bot-api-secret-token": "aa1233456",
            "x-forwarded-for": "118.102.2.29",
            "x-forwarded-host": "vpsn8n.anhlaptrinh.vn",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "488f8becda86",
            "x-real-ip": "118.102.2.29",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event_name": "message.text.received",
            "message": {
              "date": 1769576811365,
              "chat": {
                "chat_type": "PRIVATE",
                "id": "e8ab671be14b0815515a"
              },
              "message_id": "a40224bc225f07075e48",
              "from": {
                "id": "e8ab671be14b0815515a",
                "is_bot": false,
                "display_name": "Anh Lập Trình Thứ Nhất"
              },
              "text": "Cho tôi thông tin tài liệu"
            }
          },
          "webhookUrl": "https://vpsn8n.anhlaptrinh.vn/webhook/docsQdrantv11mmmmmnhuan1234",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Download File1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Chat-input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract PDF Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Set File ID_!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete File1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc1": {
      "main": [
        [
          {
            "node": "Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID_!1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat-input1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7295270c-d900-49e7-83c4-a1497d85ec7c",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "Yufa-sk6p3DtuuWADEC7j",
  "tags": []
}