01WorkflowQdrant_DocNhieuFile.json
{
  "name": "01WorkflowQdrant_DocNhieuFile",
  "nodes": [
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 1248,
        "width": 4189,
        "color": 5
      },
      "id": "60b5d6dc-c874-4f33-b47d-99ff0075053e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID_!1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "id": "372de782-6c8d-42e4-be5e-f14998d38691",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        1536
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN",
          "mode": "list",
          "cachedResultName": "00.Tpdf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "9c90c4af-d3c5-4be6-a4ee-4550391263a1",
      "name": "File Created1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        1520
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN",
          "mode": "list",
          "cachedResultName": "00.Tpdf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QjXff8V1xgtME8XEkyrQQN3jBuq4dcgN"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "d65ec638-8eb3-49ab-953f-9cefd5bebc69",
      "name": "File Updated1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        1760
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 1756
      },
      "id": "a6f7dac8-b5ca-42c3-bd57-babd1e48eebe",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsQdrantv11mmmmmnhuan1234",
        "options": {}
      },
      "id": "20d8c4bc-ac3d-4277-8c47-a3646edc1f34",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        464
      ],
      "webhookId": "5e7bc971-122a-4d85-9bbd-34b5cf75104d"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "31f4cbbe-7236-4d81-adf3-168fb239f525",
      "name": "Extract PDF Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1952,
        1264
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "6824fb71-0eba-47c1-9a46-ff401bb750a3",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1936,
        1568
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "48927265-4090-444b-9da3-8b2f1383249f",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2160,
        1568
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d5d8bc1-7088-4b65-a833-301c3987bfbe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b3b66a9e-8aca-4f0d-9864-f2e03c7a27cd",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bb391e81-4667-4854-8033-e2771d1f69fb",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f5de71c8-289a-477b-ae62-f336e7286a0c",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a605d52b-093e-47ce-bed4-6c040b465b79",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "043262f3-55dc-40b0-af44-f2f67aae3aa9",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "291a9806-5b16-46b4-a253-4806491d92bc",
                    "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word 3"
            },
            {
              "renameOutput": true,
              "outputKey": "None"
            }
          ]
        },
        "options": {
          "fallbackOutput": 10
        }
      },
      "id": "b8b3835e-163d-4033-a759-495bd8d5d6e4",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1072,
        1456
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "89d3289d-09f0-47ab-b7fb-40021172ed05",
      "name": "Extract from Excel1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1536,
        1440
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1536,
        1616
      ],
      "id": "0325400e-cb08-49e4-a150-9400c11b96ab",
      "name": "Extract from CSV1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        1536
      ],
      "id": "9cb4d904-2c16-4e33-97ba-fb5181230068",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID_!1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        2032
      ],
      "id": "501a265f-d92a-4f5a-91c0-9c86b3caebcf",
      "name": "Delete File1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID_!1').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.title }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "5445e93b-77bf-4b30-89ec-cda11fb67149",
      "name": "Convert to Google Doc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1792,
        2032
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21651ed3-cfa6-4ef8-940b-fb734b9e4fc5",
              "leftValue": "={{ $('Set File ID_!1').item.json.file_type }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        1552
      ],
      "id": "024b7a44-aad8-49a5-888b-9f9b433697ee",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "b8735aa6-4e47-4197-9f36-6559fa4d4420",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6c223e08-90f7-4629-b319-131412a12570",
      "name": "Set File ID_!1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1552
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "RPDF",
          "mode": "list",
          "cachedResultName": "RPDF"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3024,
        1600
      ],
      "id": "5013371e-5200-4cf8-b52d-364cde65c32b",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "rWae2xb1M0Iehw3P",
          "name": "QdrantApi account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2880,
        1936
      ],
      "id": "61378eb3-d914-43ad-98d5-cdb7f2c96432",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 30
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3024,
        2032
      ],
      "id": "4897b129-8302-447a-b6c0-c0b5ae581b57",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Base on this info: {{ $json.combinedContext }}\nAnswer the query: {{ $json.originalQuery }}\n\nLưu ý: câu trả lời ngắn gọn dưới 1500 ký tự, và nếu câu chào hỏi bình thường thì bạn phải hồi lại xã giao bình thường (không liên quan đến tài liệu)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        992,
        464
      ],
      "id": "316d4d82-44c9-4c79-9dec-4f7d137f97cc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        672
      ],
      "id": "d42b0926-71cd-46e3-9562-d90ec3a02caf",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "RPDF",
          "mode": "list",
          "cachedResultName": "RPDF"
        },
        "prompt": "= {{ $json.chatInput }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        352,
        464
      ],
      "id": "0ce68e86-01d6-4f5f-ba23-1be23405853f",
      "name": "Qdrant Vector Store3",
      "notesInFlow": false,
      "credentials": {
        "qdrantApi": {
          "id": "rWae2xb1M0Iehw3P",
          "name": "QdrantApi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all Qdrant results into single item\nconst qdrantItems = $items(\"Qdrant Vector Store3\");\nconst chatInput = $('Chat-input1').first().json.chatInput;\n\n// Combine all page content\nconst combinedContext = qdrantItems\n  .map(item => item.json.document.pageContent)\n  .filter(content => content && content.trim() !== '')\n  .join('\\n\\n---\\n\\n');\n\n// Optional: Include metadata\nconst sources = qdrantItems.map((item, index) => ({\n  index: index + 1,\n  score: item.json.score || 0,\n  metadata: item.json.document.metadata || {}\n}));\n\n// Return single item for agent\nreturn [{\n  json: {\n    combinedContext,\n    originalQuery: chatInput,\n    contextCount: qdrantItems.length,\n    sources,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        464
      ],
      "id": "b8316bdf-f1a1-4972-8895-aef359c1775c",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.body.message.text}}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json.body.message.from.id }}",
              "type": "string"
            },
            {
              "id": "bb23d301-0169-40a5-b1cd-bfa162469d7a",
              "name": "access_token_zalo",
              "value": "3682309957303154161:toHJdCNZuRLAbgzFAthLBcGJROrUYGJGdRwfGNwipSjhMXQMAXFxzKIearPkfHEE",
              "type": "string"
            },
            {
              "id": "ec50408b-6947-40fe-ae14-08baefa11ab6",
              "name": "chat_id_zalo",
              "value": "={{ $json.body.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1edff623-f192-485b-bc19-00690fdb0fcb",
      "name": "Chat-input1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        464
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "53880527-6c8a-4929-bde3-233c1f9ae7ec",
      "name": "Extract Document Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        1792
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID_!1').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID_!1').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "420775ba-6c46-4e5b-88f3-9783e8346fa9",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3056,
        1856
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $json.access_token_zalo.trim() }}/setWebhook ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.Webhook_URL }}"
            },
            {
              "name": "secret_token",
              "value": "aa1233456"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        112
      ],
      "id": "2c82120f-a405-4164-94e0-e9e2d4c88dba",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801137d3-13bc-4dae-a74d-bfb1c4454f77",
              "name": "access_token_zalo",
              "value": "3682309957303154161:toHJdCNZuRLAbgzFAthLBcGJROrUYGJGdRwfGNwipSjhMXQMAXFxzKIearPkfHEE",
              "type": "string"
            },
            {
              "id": "851b57e5-fbbc-4793-9fe1-8b70c2dea794",
              "name": "Webhook_URL",
              "value": "https://vpsn8n.anhlaptrinh.vn/webhook/docsQdrantv11mmmmmnhuan1234",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        112
      ],
      "id": "5e11b734-9df7-45b1-a651-3873d7e94968",
      "name": "Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $('Chat-input1').first().json.access_token_zalo.trim() }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Chat-input1').first().json.chat_id_zalo.trim() }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        464
      ],
      "id": "e1c5de9f-8c7c-4cd3-ab11-fd4b28551890",
      "name": "HTTP Request3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        112
      ],
      "id": "996d0e96-ee24-48ee-a5b1-07a7aee1a8f5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat-input1').first().json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1088,
        688
      ],
      "id": "e91fe383-0bc5-4fff-a66e-40e40d19baae",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        672
      ],
      "id": "2c2b4ab7-6d5f-43d8-97dc-e9b9a014a630",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "npFYeWDWRwkqivvM",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "vpsn8n.anhlaptrinh.vn",
            "user-agent": "Java/1.8.0_192",
            "content-length": "306",
            "accept": "text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2",
            "content-type": "application/json",
            "x-bot-api-secret-token": "aa1233456",
            "x-forwarded-for": "118.102.2.29",
            "x-forwarded-host": "vpsn8n.anhlaptrinh.vn",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "488f8becda86",
            "x-real-ip": "118.102.2.29",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event_name": "message.text.received",
            "message": {
              "date": 1769576811365,
              "chat": {
                "chat_type": "PRIVATE",
                "id": "e8ab671be14b0815515a"
              },
              "message_id": "a40224bc225f07075e48",
              "from": {
                "id": "e8ab671be14b0815515a",
                "is_bot": false,
                "display_name": "Anh Lập Trình Thứ Nhất"
              },
              "text": "Cho tôi thông tin tài liệu"
            }
          },
          "webhookUrl": "https://vpsn8n.anhlaptrinh.vn/webhook/docsQdrantv11mmmmmnhuan1234",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Download File1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Chat-input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract PDF Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Set File ID_!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete File1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc1": {
      "main": [
        [
          {
            "node": "Delete File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID_!1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat-input1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3e4f3c22-f87a-4d70-81b7-eec7064ea71b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "HdTmSbzgVhCynIgsGD20Q",
  "tags": []
}